body, h1{
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: rgb(167, 13, 13);
    color: white;

    padding: 1rem;
}

header > ul {
    display: flex;
    justify-content: center;
    justify-content: end;
    gap: 2rem;
}

header > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header > ul > li::marker {
    content: '👉';
}

main {
    margin: 1rem;
}

#historia > p {
    width: 50rem;
    text-align: center;
}

#tipos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}

#tipos img {
    margin: 1rem;
    width: 22rem;
    height: 15rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.receta {
    background-color: rgb(255, 255, 255);
    border: solid black 4px;
    border-radius: 20px;
    padding: 1.8rem;
    padding-top: 0;
    margin: 2rem;
}

.receta img {
    margin-right: 2rem;
    height: 12rem;
    width: 15rem;
}

.receta p {
    margin-right: 2rem;
    max-width: 30%;
    min-width: 10%;
}

.receta-flex {
    display: flex;
    flex-wrap: wrap;
}