:root {
    --dark: rgb(83, 3, 3);
    --main: rgb(167, 13, 13);
    --highlight : rgb(206, 31, 31);
    --background: rgb(255, 234, 234);
    scroll-behavior: smooth;
}

body, h1 {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--main);
    color: white;

    padding: 1rem;
}

header > ul {
    display: flex;
    justify-content: center;
    justify-content: end;
    gap: 2rem;
}

header > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header > ul > li::marker {
    content: '👉';
}

main {
    padding: 1rem;
    background-color: var(--background);
}

#historia > p {
    max-width: 50rem;
    text-align: center;
}

#tipos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}

#tipos img {
    margin: 1rem;
    width: 22rem;
    height: 15rem;
    border-radius: 15px;
    border: solid var(--dark) 5px;
    transition-duration: 0.3s;
}

#tipos img:hover {
    transform: scale(1.1);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shadow {
    box-shadow: 5px 10px 10px var(--dark);
}

.lista-receta {
    width: 25rem;
}

.receta {
    background-color: var(--highlight);
    border-radius: 20px;
    padding: 1.8rem;
    padding-top: 1rem;
    margin: 2rem;
    color: white;
    
}

.receta img {
    margin-right: 2rem;
    height: 12rem;
    width: 15rem;
    border-radius: 20px;
}

.receta p {
    margin-right: 2rem;
    max-width: 30%;
    min-width: 10%;
}

.receta-flex {
    display: flex;
    flex-wrap: wrap;
}